@using myshop.Utilities

<div class="btn-group">
	@if (User.Identity.IsAuthenticated)
	{
		<button type="button" class="btn btn-sm btn-light dropdown-toggle" data-toggle="dropdown">My Account</button>
		<div class="dropdown-menu dropdown-menu-right">
			<a id="manage" asp-area="Identity" asp-page="/Account/Manage/Index" class="dropdown-item">Edit Profile</a>
			@if (User.IsInRole(SD.AdminRole))
			{
				<a asp-area="Admin" asp-controller="Dashboard" asp-action="Index" class="dropdown-item">Dashboard</a>
			}
			<form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
				<button id="logout" type="submit" class="dropdown-item">Logout</button>
			</form>
		</div>

	}
	else
	{
		@* <partial name="_LoginPartial" /> *@
		<a asp-area="Identity" asp-page="/Account/Login" class="btn btn-sm btn-light mr-3">Sign in</a>
		<a asp-area="Identity" asp-page="/Account/Register" class="btn btn-sm btn-light mr-3">Sign up</a>
	}
</div>
