@{
	ViewBag.PageTitle = "Order Managment";
	ViewBag.CardTitle = "View Orders";
}

<table id="orderTbl" class="table table-hover" width="100%">
	<thead class="text-bold">
		<tr>
			<td>Id</td>
			<td>Name</td>
			<td>PhoneNumber</td>
			<td>Email</td>
			<td>Order Status</td>
			<td>Total</td>
			<td>Actions</td>
		</tr>
	</thead>
</table>

@section Scripts {
	<script src="~/js/orders.js"></script>
}